.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initial-rotation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    background-color: #73eaff;
    border-radius: 50%;
}

.initial-rotation::before{
    content: '';
    position: absolute;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    border-width: 3px;
    border-style: dashed;
    border-color: #3067ff #3067ff #ff6030 #ff6030;
    top: -8px;
    left: -8px;
    border-radius: inherit;
    animation: spin 5s linear infinite;
}

.reverse-rotation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    background-color: #73eaff;
    border-radius: 50%;
}

.reverse-rotation::before{
    content: '';
    position: absolute;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    border-width: 3px;
    border-style: dashed;
    border-color: #3067ff #3067ff #ff6030 #ff6030;
    top: -8px;
    left: -8px;
    border-radius: inherit;
    animation: spinRev 5s linear infinite;
}



@keyframes spin{
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes spinRev{
    100% {
        transform: rotateZ(-360deg);
    }
}
